.h-btn {
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0;
  padding: 10px 40px;
}
.c-m-btn:hover {
  border: 2px solid #fff;
  background: #014e56;
  color: #f0f8ff;
}
