/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

main {
  flex-grow: 1;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-inline: auto;
  padding-inline: 20px;
}

/* livvic-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v14-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v14-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* livvic-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/livvic-v14-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.header {
  background: rgb(1, 78, 86);
}

.header-container {
  display: flex;
  align-items: center;
  gap: 515px;
  padding: 75px;
  padding-left: 180px;
  padding-right: 180px;
}

.header_logo {
  display: flex;
  align-items: center;
  gap: 80px;
}

.nav-list {
  display: flex;
  padding-bottom: 5px;
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  gap: 40px;
  letter-spacing: 0px;
  text-align: left;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.hero1 {
  background: rgb(1, 78, 86);
}

.hero1-desc {
  display: flex;
  align-items: center;
  gap: 128px;
  margin-left: -70px;
  margin-bottom: 150px;
  padding-top: 30px;
}

.h1-hr {
  background: rgb(121, 200, 199);
  width: 50px;
  height: 4px;
}

.hero1-title {
  font-family: Livvic;
  font-size: 100px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  color: rgb(255, 255, 255);
  padding-right: 90px;
}
.hero1-title span {
  color: rgb(246, 126, 126);
}

.hero1-text p {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-top: 80px;
}

.h1-b-img {
  margin-left: 844px;
  margin-bottom: -3px;
}

.hero2 {
  background: rgb(1, 47, 52);
}

.hero2-title {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.hero2-container {
  display: flex;
  justify-content: center;
  padding: 150px;
  gap: 150px;
}

.h2-hr {
  background: rgb(246, 126, 126);
  width: 50px;
  height: 4px;
}

.t-text {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.hero2-desc {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.desc1 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.desc3 {
  display: flex;
  align-items: center;
}

.h2-r-img {
  margin-top: 30px;
}

.img-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  color: rgb(246, 126, 126);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  background-color: 246, 126, 126;
}

.s-text {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.hero3-container {
  padding: 0;
}

.top-img {
  margin-left: -20px;
}

.d-text {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.hero3 {
  background: rgb(0, 64, 71);
  margin-bottom: 105px;
}

.bottom-img {
  overflow: hidden;
  margin-left: 600px;
  margin-bottom: -105px;
}

.name {
  color: rgb(121, 200, 199);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.w {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: center;
}

.h3-title {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 165px;
}

.blue {
  color: rgb(121, 200, 199);
}

.h3-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 25px;
  margin-bottom: 50px;
}

.hero3-descs {
  display: flex;
  align-items: center;
  margin-left: -80px;
}

.name {
  margin-left: 150px;
}

.q {
  margin-bottom: 155px;
  margin-left: 140px;
}

.hero4 {
  background: rgb(246, 126, 126);
}

.hero4-container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.h4-img {
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: -105px;
  margin-left: -60px;
}

.h4-title {
  margin-bottom: -20px;
  justify-content: center;
  color: rgb(1, 47, 52);
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
}

.footer {
  background: rgb(0, 37, 41);
}

.f-link {
  display: flex;
  gap: 40px;
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
}

.footer-container {
  display: flex;
  padding: 50px;
}

.adress {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  margin-right: 500px;
}

.f-logo {
  margin-right: 125px;
  margin-left: 100px;
}

.service {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
}

.f-img {
  display: flex;
  gap: 20px;
}

.f-media {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 50px;
}

.about-container {
  display: flex;
}

.ab-title {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  padding-right: 150px;
  margin-left: 165px;
  margin-right: 30px;
  margin-top: 20px;
}

.ab-text {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  margin-right: 50px;
}

.ab-desc {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 30px;
  padding-bottom: 100px;
}

.about-hero {
  background: rgb(1, 78, 86);
}

.ab-hr {
  background: rgb(246, 126, 126);
  width: 50px;
  height: 4px;
}

.ab-img {
  margin-top: 120px;
  margin-left: 100px;
  margin-right: -160px;
}

.about-hero2 {
  background: rgb(0, 64, 71);
}

.about2-container {
  padding-bottom: 200px;
}

.ab2-img {
  margin-left: -160px;
}

.ab2-title {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  margin-bottom: 65px;
}

.plus1 {
  display: flex;
  align-items: center;
  gap: 320px;
  margin-top: -110px;
  margin-bottom: 50px;
}

.plus2 {
  display: flex;
  align-items: center;
  gap: 320px;
  margin-top: -30px;
  margin-bottom: 10px;
}

.ab2-boxes1 {
  display: flex;
  gap: 30px;
  margin-bottom: 80px;
}

.directors {
  margin-top: 50px;
  margin-bottom: -203px;
  margin-left: 1360px;
}

.ab2-boxes2 {
  display: flex;
  gap: 30px;
}

.about2-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 350px;
  padding: 32px 24px 56px 24px;
  background: rgb(1, 47, 52);
}

.p-name {
  color: rgb(121, 200, 199);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
}

.p-text {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: center;
}

.about-hero3 {
  background: rgb(1, 47, 52);
}

.ab3-title {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
}

.fonts {
  display: flex;
  align-items: center;
  gap: 80px;
  margin-left: 130px;
  padding-bottom: 150px;
  padding-top: 70px;
}

.ab3-top {
  margin-left: -60px;
}

.contact-hero {
  background: rgb(1, 78, 86);
}

.contact-container {
  display: flex;
  align-items: center;
}

.inputs {
  display: flex;
  flex-direction: column;
}

.con-title {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 64px;
  font-weight: 700;
  line-height: 100px;
  letter-spacing: 0px;
  text-align: left;
}

.contact-desc {
  margin-right: 200px;
  margin-bottom: 50px;
}

.con-sub {
  color: rgb(246, 126, 126);
  font-family: Livvic;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: left;
}

.con-img {
  margin-left: -160px;
}

.d-text {
  margin-left: 150px;
  margin-top: -200px;
}

.c-desc1 {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 150px;
}

.nav_link-a {
  color: rgb(1, 47, 52);
}

.nav_link-h {
  color: rgb(1, 47, 52);
}

input {
  width: 540px;
  height: 52px;
  background: rgb(1, 78, 86);
  border-left: none;
  border-right: none;
  border-bottom: none;
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.12px;
  text-align: left;
}

.massage {
  height: 90px;
}

.top {
  width: 540px;
  height: 52px;
  background: rgb(1, 78, 86);
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 15px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -0.12px;
  text-align: left;
}

.in-img {
  overflow: hidden;
  margin-top: 300px;
  margin-left: 60px;
  margin-right: -250px;
}

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
.h-btn {
  background-color: rgb(1, 78, 86);
  border: 2px solid rgb(255, 255, 255);
  border-radius: 24px;
}
.h-btn p {
  color: rgb(255, 255, 255);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h-btn:hover {
  background-color: aliceblue;
  border: 2px solid rgb(1, 78, 86);
}
.h-btn:hover p {
  color: rgb(1, 78, 86);
}

.h4-btn {
  background: rgb(246, 126, 126);
  border: 2px solid rgb(1, 47, 52);
  border-radius: 24px;
}
.h4-btn p {
  color: rgb(1, 47, 52);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.h4-btn:hover {
  background-color: rgb(1, 47, 52);
  border: 2px solid rgb(246, 126, 126);
}
.h4-btn:hover p {
  color: rgb(246, 126, 126);
}

.c-btn p {
  color: rgb(1, 47, 52);
  font-family: Livvic;
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(1, 78, 86);
  border: 2px solid rgb(1, 47, 52);
  border-radius: 24px;
}

.c-btn:hover {
  background-color: rgb(1, 47, 52);
  border: 2px solid rgb(1, 47, 52);
}
.c-btn:hover p {
  color: rgb(1, 47, 52);
}

.c-m-btn {
  box-sizing: border-box;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 24px;
  background: rgb(255, 255, 255);
  width: 123px;
  height: 48px;
  margin-bottom: 70px;
}

.c-m-btn:hover {
  border: 2px solid rgb(255, 255, 255);
  background: rgb(1, 78, 86);
  color: aliceblue;
}/*# sourceMappingURL=main.css.map */